* {
  margin: 0;
}

input {
  margin: 5px;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
}

#trybewarts-header-title {
  margin-left: 200px;
  color: white;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

button {
  background-color: purple;
  color: white;
  border-radius: 10px;
}

body {
  background-color: rgb(238, 233, 225);
}

#input-name , #input-lastname , #input-email , #email , #input-senha {
  border-radius: 8px;
  height: 15px;
  margin: 0 5px;
}

#house {
  border-radius: 8px;
  height: 20px;
  margin: 0 5px;
}

main {
  display: flex;
  justify-content: space-around;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  padding: 20px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.div-label-family {
  display: flex;
  flex-direction: column;
}

hr {
  border: solid 1px black;
  width: 100%;
}

#label-family {
  display: flex;
  flex-direction: column;
}

.nome-sobrenome {
  padding: 10px;
  display: flex;
  justify-content: start;
}

.email-casa {
  display: flex;
  justify-content: start;
  padding: 10px;
}

.div-label-content {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: space-between;
}

.div-label-rate {
  display: flex;
}

textarea {
  resize: none;
}

footer {
  color: white;
  background-color: rgb(50, 167, 145);
  text-align: center;
  margin-bottom: 0;
  width: 100%;
  bottom: 0;
  position: fixed;
}
